---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tentang Kami">
<!-- About -->
<div class="max-w-screen-lg px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
  <!-- Content -->
    <div class="space-y-5 md:space-y-8">		
      <div class="space-y-3">
        <h3 class="text-2xl font-semibold dark:text-white">Tentang</h3> 
        
        <p class="text-neutral-800 dark:text-neutral-200"> 
          Website kastaumuzik.com dibuat dengan tujuan sederhana: menampung semua lagu daerah Papua dalam satu platform agar mudah ditemui, didengarkan, dan dilestarikan. 
          Situs ini dibangun dengan niat murni untuk menyediakan informasi umum dan non-komersial tentang kekayaan budaya musik Papua. Kami percaya bahwa dengan mendigitalisasi dan mengarsipkan lagu-lagu ini, 
          generasi mendatang dapat terus menikmati dan menghargai warisan musik Papua. 
        </p> 
          
          <p class="text-neutral-800 dark:text-neutral-200"> 
            Semua musik yang ditampilkan di situs ini diambil dari berbagai sumber, dengan sumber utama adalah YouTube. 
            Kami menggunakan API dari YouTube Music, yang memungkinkan setiap kali lagu diputar melalui situs ini, jumlah tampilan (views) pada video aslinya di YouTube otomatis bertambah. 
            Setelah data diperoleh melalui API, kami memprosesnya melalui sistem kami sebelum menampilkannya di situs ini, sehingga pengguna dapat dengan mudah mengakses dan mendengarkan lagu-lagu daerah Papua dengan cara yang sederhana dan terstruktur. 
          </p> 
          
          <p class="text-neutral-800 dark:text-neutral-200"> 
            Situs ini berfungsi sebagai perpustakaan digital yang didedikasikan untuk mempromosikan dan melestarikan musik daerah Papua, memastikan bahwa karya-karya ini tetap hidup di tengah arus perkembangan zaman. 
            Kami berharap upaya ini dapat berkontribusi pada pelestarian warisan budaya yang tak ternilai harganya bagi masyarakat Papua secara keseluruhan. 
          </p>
        
          <p class="text-neutral-800 dark:text-neutral-200">
            Website ini diinisiasi oleh Komunitas <a href="https://github.com/papua-opensource" target="_blank" rel="noopener noreferrer" class="underline">Papua Open Source</a>, sebuah komunitas yang bertujuan berkontribusi bagi Tanah Papua melalui teknologi dan open source. 						  
          </p>

          <p class="text-neutral-800 dark:text-neutral-200">
            Ada pertanyaan? silahkan hubungi melalui email: <a href="mailto:salupacode@gmail.com" class="underline">salupacode[at]gmail[dot]com</a> 						  
          </p>
        </div>										  
    </div>
  <!-- End Content -->
</div>
<!-- End About -->
</Layout>