---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tentang Kami">
<!-- About -->
<div class="max-w-screen-lg px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
  <!-- Content -->
    <div class="space-y-5 md:space-y-8">		
      <div class="space-y-3">
        <h3 class="text-2xl font-semibold dark:text-white">Tentang</h3>
        
        <p class="text-neutral-800 dark:text-neutral-200">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, quia illum ipsum id beatae quis excepturi assumenda facere natus, suscipit maiores deserunt quisquam aut recusandae libero eius esse amet? Autem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ducimus asperiores libero soluta, quam et minima, delectus iste tempore quisquam in voluptatibus officia, autem excepturi molestias porro natus facere cumque.
        </p>
        
        <p class="text-neutral-800 dark:text-neutral-200">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione alias inventore magni odio ipsum, velit fugiat earum obcaecati quaerat eveniet reiciendis nihil fuga totam nostrum quis nesciunt odit maxime dolores.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci fuga porro optio quae vel rem minima libero eaque, ex impedit tenetur earum aut officiis? Dignissimos fugiat doloribus quae esse accusantium.
        </p>
        
        <p class="text-neutral-800 dark:text-neutral-200">
          Website ini diinisiasi oleh Komunitas <a href="https://github.com/papua-opensource" target="_blank" rel="noopener noreferrer" class="underline">Papua Open Source</a>, sebuah komunitas yang bertujuan berkontribusi bagi Tanah Papua melalui teknologi dan open source. 						  
        </p>
        </div>										  
    </div>
  <!-- End Content -->
</div>
<!-- End About -->
</Layout>