---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pernyataan">
    <!-- Disclaimer -->
<div class="max-w-screen-lg px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 mx-auto">
    <!-- Content -->
      <div class="space-y-5 md:space-y-8">		
        <div class="space-y-3">
          <h3 class="text-2xl font-semibold dark:text-white">Pernyataan</h3>
          
          <p class="text-neutral-800 dark:text-neutral-200">
            Semua informasi di situs kastaumuzik.com dipublikasikan dengan itikad baik dan hanya untuk tujuan informasi umum, sebagai bagian dari upaya menyelamatkan dan melestarikan arsip lagu daerah Papua untuk tujuan non-komersial, sesuai dengan UU No. 43 Tahun 2009 dan UU No. 13 Tahun 2018. 
            Jika ada pemegang Hak Cipta, Hak Royalti, atau Hak Kekayaan Intelektual lainnya yang keberatan dengan penampilan karyanya di perpustakaan digital kami, silakan hubungi kami agar karya tersebut dapat segera dihapus.            
          </p>
          
          <p class="text-neutral-800 dark:text-neutral-200">
            kastaumuzik.com tidak menjamin kelengkapan, keandalan, atau ketepatan informasi di situs ini. 
            Tindakan yang Anda lakukan berdasarkan informasi di situs ini sepenuhnya menjadi tanggung jawab Anda sendiri. kastaumuzik.com tidak bertanggung jawab atas kerugian atau kerusakan yang mungkin timbul dari penggunaan situs kami.
          </p>
          
          <p class="text-neutral-800 dark:text-neutral-200">
            Dengan menggunakan situs kami, Anda setuju dengan ketentuan dan persyaratan yang berlaku.
          </p>
          </div>										  
      </div>
    <!-- End Content -->
  </div>
  <!-- End Disclaimer -->
</Layout>