---
import Hero from '../components/Hero.astro';
import MusicCard from '../components/MusicCard.astro';
import MusicControl from '../components/MusicControl.astro';
import Layout from '../layouts/Layout.astro';


const popularMusic= [
	{
		"title": "Sau Mabu",
		"artist": "Artist 1",
		"url": "https://storage.googleapis.com/kastau-muzic/01-saumabu-bahasa-tepra.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/1/11/Dive_tycho_album.jpg"
	},
	{
		"title": "Aiwaly Kmong Ta",
		"artist": "Artist 2",
		"url": "https://storage.googleapis.com/kastau-muzic/02-aiwaly-kmongta-bahasa-moy.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/f/f1/Tycho_-_Epoch.jpg"
	},
	{
		"title": "Wenjayo",
		"artist": "Artist 3",
		"url": "https://storage.googleapis.com/kastau-muzic/03-wenjayo-bahasa-moy.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/c/ca/Tycho_-_Awake.png"
	},
	{
		"title": "Insose Bearariso",
		"artist": "Artist 4",
		"url": "hhttps://storage.googleapis.com/kastau-muzic/04-insoses-bearariso-bahasa-byak.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/1/11/Dive_tycho_album.jpg"
	},
	{
		"title": "Nja Krep Krep Nare",
		"artist": "Artist 5",
		"url": "https://storage.googleapis.com/kastau-muzic/05-nja-krep-krep-nare-bahasa-moy.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/f/f1/Tycho_-_Epoch.jpg"
	},
	{
		"title": "Osafa Ipsum",
		"artist": "Artist 6",
		"url": "https://storage.googleapis.com/kastau-muzic/06-osafa-ipsum-bahasa-byak.mp3",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/c/ca/Tycho_-_Awake.png"
	},
	{
		"title": "Epoch",
		"artist": "Tycho",
		"url": "",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/f/f1/Tycho_-_Epoch.jpg",
	},
	{
		"title": "Awake",
		"artist": "Tycho",
		"url": "",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/c/ca/Tycho_-_Awake.png",
	},
	{
		"title": "Dive",
		"artist": "Tycho",
		"url": "",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/1/11/Dive_tycho_album.jpg",
	},
	{
		"title": "Epoch",
		"artist": "Tycho",
		"url": "",
		"cover_art_url": "https://upload.wikimedia.org/wikipedia/en/f/f1/Tycho_-_Epoch.jpg",
	},
	// Tambahkan lagu lain sesuai kebutuhan
]

---
<!-- https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png -->

<Layout title="Welcome to Kastau Muzik">
	<Hero/>

	<!-- Popular Music -->
	<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg md:px-24 lg:px-8 lg:py-20">
		<!-- Title -->
		<div class="sm:w-1/2 xl:w-1/3 mb-4 md:mb-8">
			<h2 class="text-xl font-semibold md:text-2xl md:leading-tight text-gray-800 dark:text-neutral-200">
				Daftar Lagu Daerah
			</h2>
		</div>
		<!-- End Title -->

		<!-- Grid -->
		<!-- <div class="swiper grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 gap-3 lg:gap-6"> -->
		<div class="swiper">
			<div class="swiper-wrapper">
				<MusicCard musics={popularMusic}/>
			</div>
			<div
				class="swiper-pagination !relative !bottom-0 text-left my-4"
			>
			</div>
		</div>
		<!-- End Grid -->
	</div>
	<!-- End Populer Music -->  

	<MusicControl/>
</Layout>


<!-- Swiper -->
<script type="module">
    import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

    document.addEventListener("DOMContentLoaded", function () {
        new Swiper(".swiper", {
            autoplay: {
                delay: 6000,
            },
            grabCursor: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
			breakpoints: {
                0: {
                    slidesPerView: 1.5,
                    spaceBetween: 16,
					grid: {
                        rows: 2,
                        fill: "row",
                    },
                },
                480: {
                    slidesPerView: 2.5,
                    spaceBetween: 20,

                    grid: {
                        rows: 2,
                        fill: "row",
                    },
                },
				768: {
                    slidesPerView: 3.5,
                    spaceBetween: 20,

                    grid: {
                        rows: 2,
                        fill: "row",
                    },
                },
                1368: {
                    centeredSlides: false,
                    slidesPerView: 4,
                    spaceBetween: 20,

                    grid: {
                        rows: 2,
                        fill: "row",
                    },
                },
            },
        });

        // Inject custom styles for pagination
        const style = document.createElement('style');
        style.textContent = `
            .swiper-pagination-bullet {
                width: 20px;
                height: 4px;
                border-radius: 2px;
                background-color: #ccc;
                opacity: 0.7;
            }
            .swiper-pagination-bullet-active {
                background-color: #1F2937;
                opacity: 1;
            }
        `;
        document.head.appendChild(style);
    });

</script>
<!-- End Swiper -->