<!-- Sticky Music Control -->
<div class="sticky bottom-0 inset-x-0 z-50 max-w-screen-lg mx-auto px-4 md:px-8 text-center py-2">
	<div class="flex flex-col justify-between bg-white border border-neutral-300 rounded-lg py-3 px-4 md:px-8 dark:border-neutral-700 dark:bg-neutral-800">
        <p id="music-control-title" class="pb-4 md:pb-2 text-base text-gray-500 dark:text-gray-400"></p>
		<div class="pb-2 flex flex-col md:flex-row gap-y-2.5">
            <div class="flex items-center justify-center md:justify-between gap-x-1.5">
                <!-- Previous Button -->
                <div class="hs-tooltip inline-block">
                    <button type="button" id="prev-button" class="hs-tooltip-toggle flex items-center gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200">
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2.5"><path d="M7 13.732c-1.333-.77-1.333-2.694 0-3.464l9-5.196c1.333-.77 3 .192 3 1.732v10.392c0 1.54-1.667 2.502-3 1.732z"/><path stroke-linecap="round" d="M4 19V5"/></g></svg>							
                    </button>
                </div>

                <div class="block h-3 border-e border-gray-300 mx-3 dark:border-neutral-600"></div>

                <!-- Play/Pause Button -->
                <div class="hs-tooltip inline-block">
                    <button type="button" id="play-pause-button" class="hs-tooltip-toggle flex items-center gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200">
                        <svg class="shrink-0 play-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5v14l11-7z"/></svg>
                        <svg class="shrink-0 pause-icon hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/></svg>
                    </button>
                </div>

                <div class="block h-3 border-e border-gray-300 mx-3 dark:border-neutral-600"></div>

                <!-- Next Button -->
                <div class="hs-dropdown relative inline-block">
                    <button id="next-button" type="button" class="flex items-center gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200">
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2.5"><path d="M17 10.268c1.333.77 1.333 2.694 0 3.464l-9 5.196c-1.333.77-3-.192-3-1.732V6.804c0-1.54 1.667-2.502 3-1.732z"/><path stroke-linecap="round" d="M20 5v14"/></g></svg>
                    </button>
                </div>
            </div>
            <div class="w-full md:px-6">
                <div class="flex items-center justify-between space-x-2">
                    <span id="current-time" class="text-sm font-medium text-gray-500 dark:text-gray-400">0:00</span>
                    <div class="w-full bg-gray-200 rounded-full h-1.5 hover:cursor-pointer dark:bg-gray-800">
                        <div id="progress-bar" class="bg-blue-600 h-1.5 rounded-full" style="width: 0%"></div>
                    </div>
                    <span id="duration" class="text-sm font-medium text-gray-500 dark:text-gray-400">0:00</span>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- End Sticky Music Control -->


