---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
	<head>
		<BaseHead title={title}/>
	</head>
	<body class="font-onest dark:bg-neutral-900">
		<Navbar/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<script>import "preline/dist/preline.js";</script>